@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  border: 1px solid red;
  margin: 0 auto;
}

.header .header__nav {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.header .header__nav .header__nav_logo img {
  width: 120px;
  height: 50px;
}
.header .header__nav .header__nav_list {
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 40%;
  height: 100%;
  margin: 0px 30px 0px 30px;
}
.header .header__nav .header__nav_list li {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header .header__nav .header__nav_list li a {
  color: #000;
}
.header .header__nav .header__nav_list li a:hover {
  color: #EC1C24;
}
.header .header__nav .header__nav_send {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav .header__nav_send .navb {
  width: 150px;
  height: 35px;
  border: 1px solid #6A6A6A;
  border-radius: 30px;
  padding: 9px 13px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  transition-duration: 0.4s;
  cursor: pointer;
}
.header .header__nav .header__nav_send .navb a {
  color: #000;
}
.header .header__nav .header__nav_send .header__nav_send-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.header .header__nav .header__nav_send .header__nav_send-icon img {
  width: 60px;
  height: 20px;
}
.header .header__nav .header__nav_send .header__nav_send-line {
  margin-left: 25px;
}
.header .header__nav .header__nav_send .header__nav_send-line hr {
  width: 1px;
  height: 35px;
  border: 0.3px solid;
  color: #E3E3E3;
}
.header .header__nav .header__nav_send .header__nav_send-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.header .header__nav .header__nav_send .header__nav_send-burger img {
  width: 40px;
  height: 15px;
}

.main__header {
  width: 100%;
  height: 800px;
  background-image: url(../../images/header_bg_img.png);
  background-size: 100% 800px;
  margin-top: 10px;
}
.main__header h1 {
  margin: 0 auto;
  padding-top: 130px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 105px;
  line-height: 110px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.main__header .main__header_p-text {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 24px;
}
.main__header .main__header_lines {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main__header .main__header_direction {
  width: 63%;
  height: 55px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 30px;
  background: #FFF;
  display: flex;
}
.main__header .main__header_direction .main__header_where .main__header_where1 {
  color: #A1A1A1;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0px 0px 25px;
}
.main__header .main__header_direction .main__header_where .main__header_where2 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 3px 0px 0px 25px;
}
.main__header .main__header_direction .main__header_direction-whereto {
  display: flex;
}
.main__header .main__header_direction .main__header_direction-whereto .main__header_direction-whereto-line {
  margin: 10px 20px 0px 50px;
}
.main__header .main__header_direction .main__header_direction-whereto .main__header_direction-whereto-line hr {
  width: 1px;
  height: 35px;
  border: 0.3px solid;
  color: #E3E3E3;
}
.main__header .main__header_direction .main__header_direction-whereto .main__header_direction-whereto-whereto {
  color: #A1A1A1;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 19px;
}
.main__header .main__header_direction .main__header_direction-ticket {
  display: flex;
}
.main__header .main__header_direction .main__header_direction-ticket .main__header_direction-ticket-line {
  margin: 10px 20px 0px 50px;
}
.main__header .main__header_direction .main__header_direction-ticket .main__header_direction-ticket-line hr {
  width: 1px;
  height: 35px;
  border: 0.3px solid;
  color: #E3E3E3;
}
.main__header .main__header_direction .main__header_direction-ticket .main__header_direction-ticket-ticket {
  color: #A1A1A1;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 19px;
}
.main__header .main__header_direction .main__header_direction-howlong1 .main__header_direction-howlong-line {
  margin: 10px 20px 0px 50px;
}
.main__header .main__header_direction .main__header_direction-howlong1 .main__header_direction-howlong-line hr {
  width: 1px;
  height: 35px;
  border: 0.3px solid;
  color: #E3E3E3;
}
.main__header .main__header_direction .main__header_direction-howlong1 .main__header_direction-howlong-howlong {
  color: #A1A1A1;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: -35px 0px 0px 70px;
}
.main__header .main__header_direction .main__header_direction-howlong1 .main__header_direction-howlong-day {
  color: #1C1C1C;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 3px 0px 0px 70px;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-tourist-line {
  margin: 10px 20px 0px 50px;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-tourist-line hr {
  width: 1px;
  height: 35px;
  border: 0.3px solid;
  color: #E3E3E3;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-button-tourist {
  color: #A1A1A1;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: -35px 0px 0px 70px;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-button-number {
  color: #1C1C1C;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 3px 0px 0px 70px;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-button-button {
  width: 160px;
  height: 35px;
  border-radius: 30px;
  background: #EC1C24;
  margin: -36px 0px 0px 133px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 8px 15px;
  cursor: pointer;
}
.main__header .main__header_direction .main__header_direction-button .main__header_direction-button-button img {
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}

.tours .tours__texts {
  width: 70%;
  margin: 0 auto;
  margin-top: 130px;
}
.tours .tours__texts .tours__texts_titleh3 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.tours .tours__texts .tours__texts_titlep {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.tours .tours_cards {
  display: flex;
}
.tours .tours_cards .tours_cards_title {
  margin: 60px 0px 0px 185px;
  width: 230px;
  height: 280px;
  border-radius: 30px;
  background-image: url(../../images/tour-card-img.png);
  background-size: 100% 100%;
}
.tours .tours_cards .tours_cards_title .tours_cards_title-title {
  display: flex;
}
.tours .tours_cards .tours_cards_title .tour_day {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 7px;
  margin: 20px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title .tour_price {
  width: 95px;
  height: 20px;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 0px 10px;
  line-height: normal;
}
.tours .tours_cards .tours_cards_title .tours_cards_where :nth-child(1) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 170px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title .tours_cards_where :nth-child(2) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title2 {
  margin: 60px 0px 0px 15px;
  width: 220px;
  height: 280px;
  border-radius: 30px;
  background-image: url(../../images/tour-card-img2.png);
  background-size: 100% 100%;
}
.tours .tours_cards .tours_cards_title2 .tours_cards_title-title2 {
  display: flex;
}
.tours .tours_cards .tours_cards_title2 .tour_day2 {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 7px;
  margin: 20px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title2 .tour_price2 {
  width: 95px;
  height: 20px;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 0px 10px;
  line-height: normal;
}
.tours .tours_cards .tours_cards_title2 .tours_cards_where2 :nth-child(1) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 170px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title2 .tours_cards_where2 :nth-child(2) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title3 {
  margin: 60px 0px 0px 15px;
  width: 230px;
  height: 280px;
  border-radius: 30px;
  background-image: url(../../images/tour-card-img3.png);
  background-size: 100% 100%;
}
.tours .tours_cards .tours_cards_title3 .tours_cards_title-title {
  display: flex;
}
.tours .tours_cards .tours_cards_title3 .tour_day {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 7px;
  margin: 20px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title3 .tour_price {
  width: 95px;
  height: 20px;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 0px 10px;
  line-height: normal;
}
.tours .tours_cards .tours_cards_title3 .tours_cards_where :nth-child(1) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 170px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title3 .tours_cards_where :nth-child(2) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title4 {
  margin: 60px 0px 0px 15px;
  width: 230px;
  height: 280px;
  border-radius: 30px;
  background-image: url(../../images/tour-card-img4.png);
  background-size: 100% 100%;
}
.tours .tours_cards .tours_cards_title4 .tours_cards_title-title {
  display: flex;
}
.tours .tours_cards .tours_cards_title4 .tour_day {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 7px;
  margin: 20px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title4 .tour_price {
  width: 95px;
  height: 20px;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 0px 10px;
  line-height: normal;
}
.tours .tours_cards .tours_cards_title4 .tours_cards_where :nth-child(1) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 170px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title4 .tours_cards_where :nth-child(2) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title5 {
  margin: 60px 0px 0px 15px;
  width: 230px;
  height: 280px;
  border-radius: 30px;
  background-image: url(../../images/tour-card-img5.png);
  background-size: 100% 100%;
}
.tours .tours_cards .tours_cards_title5 .tours_cards_title-title {
  display: flex;
}
.tours .tours_cards .tours_cards_title5 .tour_day {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 7px;
  margin: 20px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title5 .tour_price {
  width: 95px;
  height: 20px;
  margin: 20px 0px 0px 10px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 0px 10px;
  line-height: normal;
}
.tours .tours_cards .tours_cards_title5 .tours_cards_where :nth-child(1) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 170px 0px 0px 20px;
}
.tours .tours_cards .tours_cards_title5 .tours_cards_where :nth-child(2) {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px 0px 0px 20px;
}

.hostels {
  margin-top: 50px;
  padding-top: 30px;
  width: 100%;
  height: 700px;
  background: #ededed;
}
.hostels .hostels__text {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hostels .hostels__text img {
  width: 150px;
  height: 80px;
}
.hostels .hostels__text h3 {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.hostels .hostels__text p {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.hostels .hostels_imgs {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hostels .hostels_imgs .hostels_imgs_title1 img {
  width: 360px;
  height: 260px;
}
.hostels .hostels_imgs .hostels_imgs_title2 img {
  width: 450px;
  height: 320px;
}
.hostels .hostels_imgs .hostels_imgs_title3 img {
  width: 360px;
  height: 260px;
}

.bg-img-mem {
  width: 100%;
  height: 550px;
  margin-top: 150px;
  background-image: url(../../images/section3-bg-img-mem.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.bg-img-mem .bg-img-mem-send {
  display: flex;
  align-items: center;
  width: 80%;
  height: 110px;
  border-radius: 30px;
  background: #FFF;
  margin-bottom: 20px;
}
.bg-img-mem .bg-img-mem-send :nth-child(1) {
  padding: 26px 45px;
  color: var(--, #1C1C1C);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.bg-img-mem .bg-img-mem-send :nth-child(1) .title {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.bg-img-mem .bg-img-mem-send :nth-child(2) {
  color: #1C1C1C;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0px 30px;
}
.bg-img-mem .bg-img-mem-button {
  width: 160px;
  height: 35px;
  border-radius: 30px;
  background: #EC1C24;
  margin: -36px 0px 0px 133px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 8px 15px;
  cursor: pointer;
}
.bg-img-mem .bg-img-mem-button img {
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}

/*# sourceMappingURL=css.main.css.map */
